<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Rate Calc</title>
</head>
<body>
    <h1>Rate Calc</h1>
    <p>The cost of shipping a "<%= type %>" weighing "<%= weight %>" is "$<%= result %>"</p>
</body>
</html>